<!DOCTYPE html>
<html>
<head>
    <title>Available Cars - Car App</title>
	<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Welcome, <%= user %>!</h1>
    <h2>Available Used Cars</h2>
    <table border="1" cellpadding="8">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price ($)</th>
            <th>Action</th>
        </tr>
        <% cars.forEach(car => { %>
            <tr>
                <td><%= car.id %></td>
                <td><%= car.name %></td>
                <td><%= car.price %></td>
                <td>
                    <form action="/interest" method="POST">
                        <input type="hidden" name="user" value="<%= user %>">
                        <input type="hidden" name="car_id" value="<%= car.id %>">
                        <label>Interest Details (vulnerable):</label><br>
                        <input type="text" name="interest_details" required>
                        <button type="submit">Submit Interest</button>
                    </form>
                </td>
            </tr>
        <% }); %>
    </table>
    <br>
    <a href="/">Home</a>
</body>
</html>